.new-transaction-container {
    padding: 16px;
}

.new-transaction-form>div>.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-transaction-form>div>.button-container>button {
    width: 96px;
}