.new-transaction-container {
    padding: 16px;
}

.new-transaction-form>.button-container {
    display: flex;
    justify-content: flex-end;
}

.new-transaction-form>.button-container>button {
    width: 96px;
}