.login-container {
    margin: auto;
    width: 33%;
    margin-top: 64px;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.login-btn {
    width: 50%;
    margin-top: 10px;
}