.ticker-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sell-stock-button {
    margin: auto;
    width: 100%;
}

.sale-button-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sale-button-container>button {
    margin: auto;
    width: 50%;
}